<%- include('../partial/header') %>
    </nav>
    <div class="flights-container">
      <% if (flights.length === 0) { %>
      <p>No flights currently available</p>
      <% } else { %> <% let classes = ['red-text', 'white-text']; %> <% let
      today = new Date(); %> <% for (let flight of flights) { %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel teal">
            <% let textColor; %> <% if (today > flight.departs) { %> <%
            textColor = classes[0]; %> <% } else { %> <% textColor = classes[1];
            %> <% } %>
            <p class="<%= textColor %>">Airline: <%= flight.airline %></p>
            <p class="<%= textColor %>">Airport: <%= flight.airport %></p>
            <p class="<%= textColor %>">Flight No.: <%= flight.flightNo %></p>
            <p class="<%= textColor %>">Departs: <%= flight.departs %></p>
            <a href="/flights/<%= flight.id %>">Details</a>
          </div>
        </div>
      </div>
      <% } %> <% } %>
    </div>
<%- include('../partial/footer') %>